<section class="teams-section fade-in-section">
    <h1>I miei Progetti</h1>
    <h2 class="highlighted-quote">"Chiunque smetta di imparare è vecchio, che abbia venti o ottant'anni. Chi continua a imparare resta giovane. La cosa più grande nella vita è mantenere la mente giovane." — Henry Ford</h2>
    
    <div class="teams-list">
      <div class="team-card">
        <img src="assets/work-progress.png" alt="Progetto 1">
        <h3 class="project-title">Sport Store webapp</h3>
        <p class="project-description">Lavori in corso...</p>
        <a href="https://putzoludaniele3.github.io/Sportstore-Webapp/" class="project-btn">Saperne di più</a>
      </div>
      <div class="team-card">
        <img src="assets/work-progress.png" alt="Progetto 2">
        <h3 class="project-title">Progetto 2</h3>
        <p class="project-description">Lavori in corso...</p>
        <a href="https://github.com/your-profile/project2" class="project-btn">Saperne di più</a>
      </div>
      <div class="team-card">
        <img src="assets/work-progress.png" alt="Progetto 3">
        <h3 class="project-title">Progetto 3</h3>
        <p class="project-description">Lavori in corso...</p>
        <a href="https://github.com/your-profile/project3" class="project-btn">Saperne di più</a>
      </div>
    </div>
  </section>
