<section class="teams-section fade-in-section">
    <h2>I miei Progetti</h2>
    <div class="teams-list">
      <div class="team-card">
        <img src="../../assets/lavori-in-corso.png" alt="Progetto 1">
        <h2 class="project-title">Sport Store webapp</h2>
        <p class="project-description">Lavori in corso...</p>
        <a href="https://github.com/your-profile/project1" class="project-btn">Saperne di più</a>
      </div>
      <div class="team-card">
        <img src="../../assets/lavori-in-corso.png" alt="Progetto 2">
        <h2 class="project-title">Progetto 2</h2>
        <p class="project-description">Lavori in corso...</p>
        <a href="https://github.com/your-profile/project2" class="project-btn">Saperne di più</a>
      </div>
      <div class="team-card">
        <img src="../../assets/lavori-in-corso.png" alt="Progetto 3">
        <h2 class="project-title">Progetto 3</h2>
        <p class="project-description">Lavori in corso...</p>
        <a href="https://github.com/your-profile/project3" class="project-btn">Saperne di più</a>
      </div>
    </div>
  </section>
