<header class="header">
    <div class="logo">
        <img src="your-logo.png" alt="Logo">
    </div>
    <nav>
        <ul>
            <li><a href="#teams">Teams</a></li>
            <li><a href="#enterprise">Enterprise</a></li>
            <li><a href="#ressources">Ressources</a></li>
            <li><a href="#projects">Progetti</a></li>

        </ul>
    </nav>
</header>

<app-home id="home"></app-home>
<app-enterprise id="enterprise"></app-enterprise>
<app-projects id="projects"></app-projects>
<app-teams></app-teams>
<footer>
    <p>© 2024 Daniele Putzolu - All rights reserved</p>
</footer>