<header class="header">
  <!--  
  <div class="logo">
        <img src="your-logo.png" alt="Logo">
    </div>
    -->
    <div class="ego">
        <h3>Daniele Putzolu</h3>
    </div>
    <nav>
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#enterprise">Aziende</a></li>
            <li><a href="#projects">Progetti</a></li>
            <li><a href="#teams">Teams</a></li>
        </ul>
    </nav>
</header>

<app-home id="home"></app-home>
<app-enterprise id="enterprise"></app-enterprise>
<app-projects id="projects"></app-projects>
<app-teams id="teams"></app-teams>
<footer>
    <p>© 2024 Daniele Putzolu - All rights reserved</p>
</footer>