/* General */
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #0d1b2a;
    color: #fff;
    overflow-x: hidden;
  }
  
  .teams-section {
    margin: 0;
    padding: 50px 0;
    background-color: #0d1b2a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 110px;
  }

  .teams-section h1 {
    font-size: 1rem;
    color: #fff;
    margin-bottom: 30px;
    font-size: 1.8rem;
  }

  .teams-section h2 {
    color: #d4b9c5;
    margin-bottom: 30px;
    font-size: 1.8rem;
    font-style: italic;
  }

  .teams-section h3 {
    color: #ebc5c8;
    margin-bottom: 30px;
  }

  .teams-section p {
    color: #dfcfdc;
    margin-bottom: 30px;
  }
  
  .teams-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 40px;
  }
  
  .team-card {
    display: flex;
    flex-direction: column;
    background-color: #162e4d;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    justify-content: space-between;
    min-height: 400px;
  }
  
  .team-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .team-card .timeline-content {
    flex-grow: 1; /* Fa sì che il contenuto cresca per riempire lo spazio */
  }

  .team-card p {
    flex-grow: 1; /* Fa espandere il contenuto centrale per riempire lo spazio disponibile */
  }

  .project-btn {
    background-color: #ff5ca4;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin-top: 20px;
}

.project-btn:hover {
    background-color: #e94d91;
}
  
  /* Animazione */
  .fade-in-section {
    opacity: 0;
    transform: translateY(20px);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  }
  
  .fade-in-section.show {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }

  .highlighted-quote {
    font-size: 1.8rem;  /* Ridotta da 2rem */
    font-weight: normal;
    color: #860aa5;
    margin-bottom: 30px;
    text-align: center;
}


@media (max-width: 768px) {

  
  .teams-section {
    padding: 20px; /* Riduce la quantità di padding sui dispositivi più piccoli */
    padding-bottom: 50px;
  }

  .team-card {
    width: 100%; /* Rende le card a larghezza piena su schermi piccoli */
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  .teams-list {
    flex-direction: column;
    align-items: center; /* Dispone le card in una singola colonna su dispositivi mobili */
  }

  .teams-section h1, .teams-section h2, .teams-section h3 {
    font-size: 1.2rem; /* Riduce la dimensione del testo */
  }

  .highlighted-quote {
    font-size: 1.5rem; /* Riduce ulteriormente la dimensione della citazione */
  }

  .timeline-item {
    width: 90% !important; /* Imposta una larghezza del 90% per le card su schermi più piccoli */
    margin: 0 auto 20px auto; /* Aggiungi un margine per separare le card */
  }

}

@media (max-width: 480px) {


  .teams-section{
    margin-top: 150px;
    padding: 50px;
  }

  .teams-section h1, .teams-section h2, .teams-section h3 {
    font-size: 1rem; /* Ancora più piccolo per gli schermi sotto i 480px */
    padding-bottom: 50px;
    
  }

  .highlighted-quote {
    font-size: 1.2rem; /* Riduzione della citazione per schermi molto piccoli */
  }

  .team-card {
    padding: 10px; /* Riduce il padding delle card su schermi molto piccoli */
    width: 100%; /* Larghezza piena per le card */
    padding-bottom: 20px;
  }

  .project-btn {
    padding: 8px 16px; /* Riduce il bottone per evitare che sembri troppo grande */
  }
  .timeline-item {
    width: 100% !important; /* Imposta una larghezza del 100% per schermi molto piccoli */
    margin: 0 auto 20px auto; /* Aggiungi un margine per separare le card */
  }

  .teams-list {
    flex-direction: column;
    align-items: center; /* Dispone le card in una singola colonna su dispositivi mobili */
  }
}

  