/* General */
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #0d1b2a;
    color: #fff;
    overflow-x: hidden;
  }
  
  .teams-section {
    margin: 0;
    padding: 50px 0;
    background-color: #0d1b2a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .teams-section h2 {
    font-size: 3rem;
    color: #fff;
    margin-bottom: 30px;
  }
  
  .teams-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 40px;
  }
  
  .team-card {
    background-color: #162e4d;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .team-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  /* Animazione */
  .fade-in-section {
    opacity: 0;
    transform: translateY(20px);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  }
  
  .fade-in-section.show {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }

  @media (max-width: 768px) {
    .teams-section {
      padding: 20px;
    }
  
    .team-card {
      width: 100%;
      margin-bottom: 20px;
    }
  
    .teams-list {
      flex-direction: column;
    }
  }
  