<section class="teams-section fade-in-section">
  <h1>I miei team</h1>
  <h2 class="highlighted-quote">"Il talento fa vincere le partite, ma il lavoro di squadra e l'intelligenza fanno vincere i campionati." – Michael Jordan</h2>
  
  <div class="teams-list">
    <div class="team-card" *ngFor="let team of teams">
      <h3>{{ team.name }}</h3>
      <p>{{ team.description }}</p>
      <p>{{ team.notes }}</p>
        <a href={{team.ref}} class="project-btn">
          Mostra Azienda
        </a>
    </div>
  </div>
</section>
