/* You can add global styles to this file, and also import other style files */
html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Sofia Pro', sans-serif; /* Match the example font */
    margin: 0;
    padding: 0;
    background-color: #0d1b2a;
  }
  