<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Daniele Putzolu Portfolio</title>
</head>
<body>

  <!-- Hero Section -->
  <section class="hero">
    <div class="hero-content">
      <h2>Portfolio di</h2>
      <h1>Daniele Putzolu</h1>
      <p>Questo e un portfolio realizzato con angular 13.0.3</p>
      <button class="btn-primary" (click)="dowloadCV()">Scarica il CV</button>
      <a class="btn-secondary">Contattami</a>
    </div>
  </section>

  <!-- Service Section (Animazione in Scroll) -->
  <section id="services" class="fade-in-section">
    <div class="service-box">
      <h2>Siti web e negozi</h2>
      <p>Design web moderni che fanno brillare il tuo marchio online.</p>
    </div>
    <div class="service-box">
      <h2>Progettazione del logo</h2>
      <p>Disegni di loghi creativi per dare vita alla tua azienda.</p>
    </div>
    <div class="service-box">
      <h2>Consiglio</h2>
      <p>Consulenza strategica personalizzata per le tue esigenze.</p>
    </div>
  </section>

  <script src="script.js"></script>


</body>
</html>
