<div class="header">
  <div class="logo">Astrolus</div>
  <nav>
    <ul>
      <li><a href="#">Teams</a></li>
      <li><a href="#">Enterprise</a></li>
      <li><a href="#">Ressources</a></li>
      <li><a href="#">Pricing</a></li>
      <li><a href="#">Blog</a></li>
      <li><a class="button" href="#">Get Started</a></li>
    </ul>
  </nav>
</div>

<div class="hero">
  <h1>DANIELE PUTZOLU'S</h1>
  <h1 class="highlight">PORTFOLIO</h1>
  <p>
    Benvenuti nel mio portfolio personale, realizzato con Angular 13.0.3. Questo
    progetto riflette il mio percorso come sviluppatore full-stack e la mia
    passione per il design web moderno. Ho creato una home page che mette in
    risalto la mia esperienza, le mie competenze e i progetti che ho sviluppato.
    Il sito è progettato per essere intuitivo e visivamente accattivante, per
    offrire ai visitatori una panoramica completa delle mie capacità e del mio
    approccio allo sviluppo
  </p>
  <div class="buttons">
    <a class="btn-primary" href="#">Iniziamo</a>
    <a class="btn-secondary" href="#">Who is Daniele</a>
  </div>
</div>

<div class="features">
  <div class="feature">
    <h3>The lowest price</h3>
    <p>Some text here</p>
  </div>
  <div class="feature">
    <h3>The fastest on the market</h3>
    <p>Some text here</p>
  </div>
  <div class="feature">
    <h3>The most loved</h3>
    <p>Some text here</p>
  </div>
</div>

<div class="logos-description">
  <h2>Le aziende per cui ho lavorato</h2>
</div>

<div class="logos">
  <img src="../../assets/credit-agricole.png" alt="Credit Agricole" />
  <img src="../../assets/san-paolo.svg" alt="San Paolo" />
  <img src="../../assets/reale-mutua.png" alt="Reale Mutua" />
  <img src="../../assets/unipol-move.png" alt="Unipol Move" />
  <img src="../../assets/mercedes-benz.png" alt="Mercedes-Benz" />
</div>
