<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Daniele Putzolu Portfolio</title>
</head>
<body>

  <!-- Hero Section -->
  <section class="hero">
    <div class="hero-content">
      <h2>Portfolio di</h2>
      <h1>Daniele Putzolu</h1>
      <p>Questo e un portfolio realizzato con angular 13.0.3</p>
      <button class="btn-primary" (click)="dowloadCV()">Scarica il CV</button>
      <button class="btn-secondary" (click)="contactMe()">Contattami</button>
    </div>
  </section>

  <!-- Service Section (Animazione in Scroll) -->
  <section class="timeline">
    <div class="timeline-item">
      <div class="timeline-icon">
        <img src="assets/wepluspng.png" alt="Icon" />
      </div>
      <div class="timeline-content">
        <h3>Back End Engineer</h3>
        <h4>We Plus | 2021 - 2022</h4>
        <p>Spring and SQL</p>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-icon">
        <img src="assets/actionict.png" alt="Icon" />
      </div>
      <div class="timeline-content">
        <h3>Full Stack Engineer</h3>
        <h4>Action ICT | Aprile 2022 - Maggio 2024</h4>
        <p>Spring, AngularJS, Angular 2+, SQL</p>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-icon">
        <img src="assets/alten.png" alt="Icon" />
      </div>
      <div class="timeline-content">
        <h3>Software and Test Engineer</h3>
        <h4>Alten Germany | Maggio 2024 - ora</h4>
        <p>C#</p>
      </div>
    </div>
    <div class="timeline-item">
        <div class="timeline-icon">
        </div>
        <div class="timeline-content">
          <h3>Obiettivo</h3>
          <h4>?</h4>
          <p>Trovare un'azienda in cui possa valorizzare e applicare al meglio le mie competenze </p>
        </div>
    </div>
  </section>
  

  <script src="script.js"></script>


</body>
</html>
